{% extends "./base.html" %}
{% load static %}
{% block content %}
     	<div class="pusher">
			<div class="masthead">

			    <div class="container">
			        <div class="ui secondary inverted right menu" id="nav">
			      		<div class="toc item" style="margin-left: 50px;"></div>
			      			<div class="right menu">
			      			<!-- <a class="item active" href="https://github.com/amyxzhang/ policykit">Github Repo</a> -->
					    	</div>
				    </div>
				</div>

				<div class="ui stackable grid container" id="main">
			    	<div class="row">
			    		<div class="six wide column main-left">
			    			<div style="display:flex; text-align:center; justify-content:center;">
								<img src={% static "policyengine/img/atom.svg" %} style="width:90px; margin:0 1em;">
								<img src={% static "policyengine/img/logo.gif" %} style="width:95px; margin:1em 0;">
							</div>
							<BR>
			    			<h2 class="header">
					        Metagov Gateway / PolicyKit Sandbox
							</h2>
								<div style="display:flex; text-align:center; justify-content:center;" class="btn">
									<a href="https://sandbox.metagov.org/login" id="mc_embedded_subscribe" class="button">Sandbox</a>
								</div>					     	
							<h3>A platform-specific governance-authoring application built with <a href="https://policykit.org/">PolicyKit</a> that leverages <a href="https://gateway.metagov.org/">Metagov Gateway's</a> open-source API gateway.</h3>
					    </div>
					    <div class="one wide column"></div>
						
						<div class="nine wide column main-right">
							<h5>
								Consider the platforms you use for online communities today. These platforms only offer governance options that are top-down, autocratic, and punitive, involving admins and mods. But what if platforms could provide other types of governance, such as more democratic ones? What if communities could <i>build for themselves</i> the governance that suits their needs and values?
							</h5>  
							<h5>
						      	The Metagov Gateway / PolicyKit Sandbox is a platform-specific governance-authoring application built with <a href="https://policykit.org/">PolicyKit</a> that leverages <a href="https://gateway.metagov.org/">Metagov Gateway's</a> open-source API gateway.
							</h5>
						    <h5>
								The sandbox gives online communities the ability to connect the platforms where their communities live with the tools and platforms where decision making happens. Policies authored with PolicyKit are extended by Metagov Gateway, making it is possible to connect the platform-specific policies to other applications where decision making takes place, such as Loomio, SourceCred, and Open Collective. The gateway provides this extension through a standardized plugin architecture that facilitates connections between a community's platform-specific policies and these external applications.
						    </h5>
						    <h5>
								The sandbox currently supports governance authoring on Slack, Reddit, and Discourse and requires communities to write custom-code policies for each base platform. See the <a href="https://policykit.readthedocs.io/en/latest/writing_policies.html">PolicKit documentation</a> for more information on how to write a policy, and the <a href="https://docs.metagov.org/en/latest/driver_tutorial.html">Metagov Gateway documentation</a> on how to extend those policies using the Gateway plugins. Discord support is in development.
						    </h5>
							
			    		 	<b>PolicyKit Team:</b>
						 	<BR>
			    				<a href="https://homes.cs.washington.edu/~axz"><img class="rounded-circle" width="60" height="60" src="{% static "policyengine/img/amy.png" %}"></a>
			    				<a href="https://github.com/ekim6767"><img class="rounded-circle" width="60" height="60" src="{% static "policyengine/img/evan.png" %}"></a>
			    				<a href="http://stanford.edu/~rickygv/index.html"><img class="rounded-circle" width="60" height="60" src="{% static "policyengine/img/ricky.png" %}"></a>
			    				<a href="http://www.sreyaguha.net/"><img class="rounded-circle" width="60" height="60" src="{% static "policyengine/img/sreya.png" %}"></a>
			    				<a href="https://hci.stanford.edu/msb/"><img class="rounded-circle" width="60" height="60" src="{% static "policyengine/img/michael.png" %}"></a>
							<BR>
			    			<b>PolicyKit Alumni:</b>
							<BR>
			    				<a href="https://github.com/tnarg999"><img class="rounded-circle" width="60" height="60" src="{% static "policyengine/img/grant.png" %}"></a>
							<BR>
							<b>Metagov Gateway Team:</b>
							<BR>
								<a href="http://www.shaunagm.net/"><img class="rounded-circle" width="60" height="60" src="{% static "policyengine/img/shauna.jpg" %}"></a>
								<a href="http://www.joshuatan.com/research/"><img class="rounded-circle" width="60" height="60" src="{% static "policyengine/img/josh.jpg" %}"></a>
							<BR>
							<b>The Metagov Gateway Alumni:</b>
							<BR>
								<a href="https://www.linkedin.com/in/miriamashton/"><img class="rounded-circle" width="60" height="60" src="{% static "policyengine/img/miriam.jpg" %}"></a>
							<BR>
							<BR>
								<h6>
									Visit the <a href="https://github.com/policykit/policykit">PolicyKit GitHub</a> and <a href="https://policykit.readthedocs.io/en/latest/index.html">docs</a>, and the <a href="https://github.com/metagov/gateway">Metagov Gateway GitHub</a> and <a href="https://docs.metagov.org/en/latest/">docs</a> for more information on each respective piece of software driving this sandbox.
								</h6>
								<h6>
									You can also learn more about PolicyKit and its origins in Elinor Ostrom's framework of commons governance in the PolicyKit team's ACM UIST 2020 <a href={% static "policyengine/pdf/policykit_uist2020.pdf" %}>paper</a> and <a href="https://vimeo.com/446531759">video</a>.
								</h6>
			    		</div>
			   		</div>
				</div>
			</div>
		</div>

{% endblock %}
